<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
	<link rel="apple-touch-icon" href="icon-152.png">
	<!-- for Chrome on Android, multi-resolution icon of 196x196 -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="196x196" href="icon-196.png">
	<title>Krista</title>
	<script type="text/javascript" src="/js/lib/angular.js"></script>
	<script type="text/javascript" src="/js/lib/angular-routes.js"></script>
	<script type="text/javascript" src="/js/modules.js"></script>
  	<script type="text/javascript" src="/js/factories.factory.js"></script>
  	<script type="text/javascript" src="/js/controllers.ctrl.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/lib/jquery.timer.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	
	
	</head>

<body>

	
	
	<div id="main_wrapper">
		<div id="header_div">
			<div id="krista_div">
			<img id="menu_stack" src="/img/menu_stack.png">
				<p id="krista_p">Krista Haglund</p>
				<p id="job_p">Pharmacist</p>
			</div>
			<div id="ul_div">
				<ul id="header_ul">
					<li id="header_li">Home</li>
					<li id="header_li">About Krista</li>
					<li id="header_li">FAQs</li>
					<li id="header_li">Go Dawgs!</li>
				</ul>
			</div>
		</div>
		<div id="beach">
			<div id="inner_beach1">
				<h1 id="beach_h1">"A life filled with family, friends and loved ones is a life worth living..."</h1>
			</div>
		</div>
		<div id="second_section">
			<img id="head_shot" src="/img/krista1.JPG">
				<div id="inner_second">
					
				<p id="lower_p">Krista Haglund</p>
				</div>
			
		</div>
			<div ng-view id="stats"></div>
	</div>
	
	
 

	
	
		
	<!-- <div id="form">
		<input ng-model="productsCtrl.newProduct.company_name" require placeholder="park name">
		<input ng-model="productsCtrl.newProduct.product_name" require placeholder="date and time">
		<input ng-model="productsCtrl.newProduct.ufc_code" require placeholder="party name">
		
		<button id= "reserve" ng-click="productsCtrl.addProduct(productsCtrl.newProduct)">Reserve Park</button>
	</div>
	</div>
	<table id="tabe" class="table table-bordered">
		<tr>
			<th>Park</th>
			<th>Date/Time</th>
			<th>Party Name</th>
			<th>Remove</th>
			
		<tr>
		<tr ng-repeat="product in productsCtrl.products">
			<p class="p_td"><td ng-bind="product.company_name"></td></p>
			<p class="p_td"><td ng-bind="product.product_name"></td></p>		
			<p class="p_td"><td ng-bind="product.ufc_code"></td></p>
			<p class="p_td"><td><button class="btn btn-primary" id="remove" ng-click="productsCtrl.removeProduct(product)">Remove</button></td></p> -->
			
	

</body>
</html>

